/* Tailwind 기본 적용 */
@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('../assets//fonts/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('../assets/fonts/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('../assets/fonts/Pretendard-Light.woff') format('woff');
}

/* 모바일에서 실제 높이를 계산한 값 적용 */
:root {
  --vh: 100%;
}

/* 전역 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 전체 페이지 기본 스타일 */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden; /* ✅ 가로 스크롤 방지 */
  background-color: #f0f0f0; /* 양쪽 회색 배경 */
}

.app {
  /* max-width: 360px; */
  /* height: calc(var(--vh, 1vh) * 100); */
  width: 100%;
  max-width: 440px; /* 최대 너비 360px로 고정 */
  height: 100vh;
  margin: 0 auto;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden; /* 가로 스크롤 방지 */
  /* min-height: 600px; */
}

/* 헤더 고정 및 중앙 정렬 */
.header,
.footer {
  width: 100%;
  max-width: 440px;
  height: 60px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  /* position: absolute; */
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
  min-height: 60px;
}
/* 메인 콘텐츠 패딩 설정 (헤더, 푸터 고려) */
.content {
  flex-grow: 1;
  padding-top: 60px; /* 헤더 높이만큼 */
  padding-bottom: 60px; /* 푸터 높이만큼 */
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  max-width: 440px; /*360*/
  /* height: calc(var(--vh, 1vh) * 100 - 120px); */
  /* overflow: hidden;  */
  box-sizing: border-box; /* 패딩 및 보더를 포함한 크기 계산 */
}
