# Help
HELP.md

# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# STS (Spring Tool Suite) specific files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA specific files
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans specific files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Maven build output
target/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
ehthumbs.db

# Log files and pid files for Spring DevTools
*.log
*.pid

# Environment variable files
.env

# MyBatis logs (optional)
*.log